﻿@model IntegratedDigitalLogisticsSkillTest.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm())
{
    <div style="border:2px solid gray;">

        <div class="form-group centerlook">
            <h1> Login </h1>
        </div>
        <div class="form-group centerlook">
            <label>User Name: </label>
            @Html.EditorFor(model => model.Email, new { @class = "form-control" })*
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group centerlook">
            <label>Password:</label>
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" }) *
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group error">
            @if (@ViewBag.Failedcount != null)
            {
                <label> Failed Attempt count is: @ViewBag.Failedcount</label>
            }

            @if (@ViewBag.NotValidUser != null)
            {

                <label> @ViewBag.NotValidUser</label>
            }
        </div>
        <div class="loginbtn">

            <input type="submit" value="Login" class="btn btn-primary" />

        </div>
    </div>
}*@

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>User Login</h2>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>*
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>*
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-default btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>