﻿@model IntegratedDigitalLogisticsSkillTest.Models.RegisterModel

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Register new user</h2>
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>*
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>*
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
                @Html.TextBoxFor(a => a.DateOfBirth, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "datePicker" })
                <!--<input id="dateOfBirthPicker" name="DateOfBirth" class="form-control" />-->
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-md-2 control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="col-md-2 control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="col-md-2 control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="col-md-2 control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInfo" class="col-md-2 control-label"></label>
                @Html.TextAreaFor(m => m.PersonalInfo, new { @class = "form-control", rows = 6 })
                <!--<textarea asp-for="PersonalInfo" class="form-control" />-->
                <span asp-validation-for="PersonalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts{

    <script src="~/lib/jqueryui/jquery-ui.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function () {
            $('#datePicker').datepicker();
        });

    </script>
}