﻿@model IntegratedDigitalLogisticsSkillTest.Models.HomeModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h4>User information for: <strong>@Model.Email</strong></h4>
        <hr />
        <form asp-action="UpdateUser">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(a => a.DateOfBirth, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "datePicker" })
                        <!--<input id="dateOfBirthPicker" name="DateOfBirth" class="form-control" />-->
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Zip" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Zip" class="form-control" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.PersonalInfo, new { @class = "form-control", rows = 6 })
                        <!--<textarea asp-for="PersonalInfo" class="form-control" />-->
                        <span asp-validation-for="PersonalInfo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
        @if (TempData["UpdateUserResult"] != null)
        {
            var result = (bool)TempData["UpdateUserResult"];

            if (result)
            {
                <div class="alert alert-success">
                    <strong>Your information was successfully updated.</strong>
                </div>
            }
        }
    </div>
    <div class="col-md-6">
        <h4>
            Uploaded Videos
        </h4>
        <hr style="margin-bottom:4px;" />
        <div class="row">
            <!--<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">-->
            <div class="form-group">
                <div class="col-md-2">
                    @*<input id="uploadBtn" type="submit" value="Upload!" class="btn btn-primary" style="display:none;"/>*@
                </div>
                <div class="col-md-12">
                    <!--<input class="form-control" type="file" name="files" multiple />-->
                    <div>
                        <label class="btn btn-success" for="my-file-selector">
                            <input id="my-file-selector" type="file" style="display:none"
                                   onchange="$('#upload-file-info').html(this.files[0].name); $('#uploadBtn').show();">
                            Select a video...
                        </label>
                        <span class='' id="upload-file-info" style="font-size:21px;vertical-align:middle;margin-left:15px;"></span>
                    </div>
                    <div style="line-height:40px;">
                        @*<input id="uploadBtn" type="submit" value="Upload!" class="btn btn-primary" style="display:none;margin-top:15px;" />*@
                        <button id="uploadBtn" type="button" onclick="uploadFile();" class="btn btn-primary" style="display:none;margin-top:15px;">
                            Upload!
                        </button>
                        <img id="uploadSpinner" src="~/images/spinner.gif" style="display:none;" />
                        <span id="uploadingSpan" style="margin-left:10px;display:none;font-size:18px;vertical-align:middle;">Uploading...</span>
                        <!--<label id="progressLabel"></label>-->
                    </div>
                </div>
            </div>
            <!--</form>-->
        </div>
        <div class="row" style="margin-top:15px;">
            <table id="videoTable" class="table table-bordered table-responsive table-hover" style="width:calc(-30px + 100%);max-width:calc(-30px + 100%);margin-left:15px;">
                <thead>
                    <tr>
                        <th>Video Filename</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (VideoModel video in Model.Videos)
                    {
                        <tr>
                            <td>@video.Filename</td>
                            <td><a href="@video.DownloadURL">Download</a> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/lib/jqueryui/jquery-ui.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function () {
            $('#datePicker').datepicker();
        });

        uploadFile = function () {

            //disable the browse and upload buttons
            $('#my-file-selector').prop('disabled', true);
            $('#uploadBtn').hide();
            $('#uploadSpinner').show();
            $("#uploadingSpan").text("Uploading...(0%)");
            $('#uploadingSpan').show();
            //$('#progressLabel').show();
            //$('button').prop('disabled', true);

            // Get the file
            var file1 = $("#my-file-selector")[0].files[0];

            var formData = new FormData();
            formData.append("file", file1);

            // You can abort the upload by calling jqxhr.abort();
            var jqxhr = $.ajax({
                url: "/Home/UploadFile",
                type: "POST",
                contentType: false,
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                async: true,
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress",
                        function (evt) {
                            if (evt.lengthComputable) {
                                var progress = Math.round((evt.loaded / evt.total) * 100);

                                //alert('progress');
                                // update the progress label
                                //$('#progressLabel').html('Uploading...(' + progress + "%)");
                                $("#uploadingSpan").text("Uploading...(" + progress + "%)");
                            }
                        },
                        false);
                    return xhr;
                }
            })
                .done(function (data, textStatus, jqXhr) {

                    //alert("Uploading is done");

                    // Reset the upload controls
                    $('#my-file-selector').prop('disabled', false);
                    $("#my-file-selector").val();
                    //$('#progressLabel').hide();
                    $('#uploadSpinner').hide();
                    $('#uploadingSpan').hide();
                    $('#upload-file-info').html('');

                    //refresh the video table
                    $('#videoTable > tbody').html('');

                    $.each(data, function (i, video) {
                        var rowHtml = '<tr><td>' + video.filename + '</td><td>' + "<a href='" + video.downloadURL + "'" + '>Download</a>';

                        $('#videoTable > tbody').append(rowHtml);
                    });

                    //$.each(data, function (i, video) {

                    //    $('<tr>').html(
                    //        $('td').text(video.Filename),
                    //        $('td').html("<a href='/uploaded_files/'" + video.Filename + ">Download</a>")
                    //    ).appendTo('#videoTable > tbody');
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    if (errorThrown === "abort") {
                        //alert("Uploading was aborted");
                    } else {
                        //alert("An error occurred while uploading.");
                        alert(textStatus + "----" + errorThrown);
                    }
                })
                .always(function (data, textStatus, jqXhr) { });
        };

    </script>
}